<%= stylesheet_link_tag "movie", "data-turbo-track": "reload" %>

<h1><strong>My Favorite Movies</strong></h1>
<hr>
  <%= link_to "Back", movies_path %>
  <%= link_to "Add a new movie", root_path %>
<div class="moviescontainer">
  <% @movies.each do |movie| %>
    <div class="moviecard" style="width: 18rem;">
      <img class="card-img-top" src="<%= movie.poster %>" alt="<%= movie.name %> Poster">
      <div class="card-body">
        <h5 class="card-title"><%= movie.name %></h5>
        <p class="card-text">Rating: <%= movie.rating %></p>
        <p class="card-text">Release Date: <%= movie.date_of_release %></p>
        <p class="card-text">Director: <%= movie.director %></p>
        <%=link_to "see details", movie_path(movie), class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
