<%= stylesheet_link_tag "movie", "data-turbo-track": "reload" %>

<div class="moviedetails">
  <h2><%= @movie.name %></h2>
  <img class="card-img-top" src="<%= @movie.poster %>" alt="<%= @movie.name %> Poster" width="70" height="300">
  <p>Director: <%= @movie.director %></p>
  <p>Rating: <%= @movie.rating %></p>
  <p>Date of release: <%= @movie.date_of_release %></p>
  <%= link_to "Delete",
    movie_path(@movie),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
  %>
  <%= link_to "Edit", edit_movie_path(@movie) %>
  <%= link_to "Back", movies_path %>
</div>
